@import "../../../../styles/variables";

.container {
  @include makeFlex(row, space-between, center);
  box-sizing: content-box;
  width: 1440px;
  height: 100%;
  padding: 0 2rem;

  @media (max-width: 768px) {
    display: none;
  }

  .logo {
    font-weight: bold;
    cursor: pointer;
  }

  ul {
    @include makeFlex(row, space-between, center);
    gap: 20px;

    li {
      font-size: 1.5rem;
      font-weight: 600;

      a {
        padding-bottom: 0.2rem;
        &:hover {
          border-bottom: $button 2px solid;
        }
      }

      .btn {
        background-color: transparent;
        border: $button solid 2px;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        color: $button;
        cursor: pointer;
        font-size: 1.3rem;

        &:hover {
          background-color: rgb(226, 233, 255);
        }
      }
    }
  }
}

.navLinkActive {
  border-bottom: $button 2px solid;
  font-weight: bold;
}
