@import "../../styles/variables";

.profile {
  padding: 100px 20px 0 20px;
  text-align: center;

  .favoriteList {
    @include makeFlex(row, center, flex-start);
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    max-width: 1200px;

    .item {
      width: 180px;
      height: 180px;
      background-color: black;
    }
  }
}
