@import "../../styles/variables";

.imagesContainer {
  @include makeFlex(row, flex-start, flex-start);

  flex-wrap: wrap;
  gap: 35px calc((100% - 280px * 4) / 3);
  div {
    width: 280px;
    height: 200px;
    background-color: cadetblue;
    cursor: pointer;
    /*     img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    } */
    &:hover {
      box-shadow: 0 0 10px 10px rgba(0, 110, 255, 0.1);
      border: #007bff solid 2px;
      overflow: hidden;
    }
  }
}
