@import "../../styles/variables";

.imagesContainer {
  @include makeFlex(row, flex-start, flex-start);

  flex-wrap: wrap;
  gap: 35px calc((100% - 280px * 4) / 3);

  img {
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    background-color: cadetblue;

    &:hover {
      outline: $on-header 3px solid;
      cursor: pointer;
    }
  }
}
