@import "../../styles/variables";

.imagesContainer {
  @include makeFlex(row, flex-start, flex-start);

  flex-wrap: wrap;
  gap: 15px calc((100% - 280px * 4) / 3);
  margin: 0 20px;

  @media (max-width: 1180px) {
    margin: 0 30px;
    justify-content: center;
    gap: 10px;
  }

  @media (max-width: 768px) {
    margin: 0;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  img {
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    background-color: cadetblue;

    @media (max-width: 768px) {
      width: 400px;
    }

    &:hover {
      outline: $on-header 3px solid;
      cursor: pointer;
    }
  }
}
