//colors

$header: white;
$on-header: #333333;

$button: #3aa95c;
$on-button: white;

//helper functions
@mixin makeFlex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
} ;
