//colors
$green: rgba(0, 161, 0, 0.4);
$green_desaturated: rgba(0, 161, 0, 0.6);
$orange: rgba(255, 115, 0, 0.6);
$orange_desaturated: rgba(255, 115, 0, 0.8);
$blue: rgba(0, 140, 255, 0.6);
$blue_desaturated: rgba(0, 140, 255, 0.8);

$header: #ffffff;
$on-header: #007bff;

$button: #007bff;
$on-button: white;

//helper functions
@mixin makeFlex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

$box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
