@import "../../styles/variables";

.header {
  @include makeFlex(row, center, center);
  margin: 6rem 0 2rem 0;
  height: 350px;
  background-color: #007bff;

  .title {
    font-size: 3rem;
    color: white;
  }
}

.imagesContainer {
  @include makeFlex(row, flex-start, flex-start);
  border: black 1px solid;
  margin: 0 auto;
  max-width: 1505px;
  height: 100%;
  flex-wrap: wrap;
  gap: 35px calc((100% - 350px * 4) / 3);
  div {
    width: 350px;
    height: 350px;
    background-color: cadetblue;
  }
}
