@import "../../styles/variables";

.header {
  height: 400px;
  padding: 6rem;
  background-color: $on-header;
  color: rgb(255, 255, 255);

  @media (max-width: 768px) {
    padding: 6rem 4rem;
  }

  .searchBox {
    input {
      width: 40%;
      border-color: white;
    }
    button {
      background-color: white;
      color: $on-header;
      box-shadow: 0 0 5px 2px $on-header;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .title {
    text-align: center;
    font-size: 3rem;
  }
}
