@import "../../styles/variables";

.header {
  @include makeFlex(row, center, center);
  margin: 6rem 0 2rem 0;
  height: 350px;
  background-color: #007bff;

  .title {
    font-size: 3rem;
    color: white;
  }
}
