@import "../../styles/variables";

.header {
  @include makeFlex(row, space-between, center);
  width: 100%;
  height: 6rem;
  padding: 0 10rem;
  background-color: $header;
  color: $button;

  @media (max-width: 992px) {
    padding: 0 5rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  ul {
    @include makeFlex(row, space-between, center);
    gap: 20px;

    li {
      font-size: 1.2rem;

      a {
        padding-bottom: 0.3rem;
      }

      .btn {
        background-color: transparent;
        border-style: none;
        border: $on-header solid 1px;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        color: inherit;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
  }
}

.active {
  border-bottom: $on-header 2px solid;
  font-weight: bold;
}
