@import "../../styles/variables";

.header {
  @include makeFlex(row, space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0 12rem;
  background-color: $header;
  color: $on-header;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);

  @media (max-width: 992px) {
    padding: 0 5rem;
  }

  .logo {
    font-size: 1.5rem;
    cursor: pointer;
  }

  ul {
    @include makeFlex(row, space-between, center);
    gap: 20px;

    li {
      font-size: 1.2rem;

      a {
        padding-bottom: 0.3rem;
        &:hover {
          border-bottom: $button 2px solid;
        }
      }

      .btn {
        background-color: transparent;
        border: $button solid 2px;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        color: $button;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
  }
}

.active {
  border-bottom: $button 2px solid;
}
