@import "../../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  font-size: 1.5rem;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  @media (min-width: 769px) {
    display: none;
  }

  .btnMenu {
    cursor: pointer;
  }
}
