@import "../../styles/variables";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 70%;
  z-index: 10;
}

.modalContainer {
  position: fixed;
  top: 10%;
  left: calc((100% - 650px) / 2);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  z-index: 20;
  .detailsContainer {
    width: 100%;
    height: fit-content;
  }
}

/* W 940px X H 650px */
