@import "../../styles/variables";

.authForm {
  width: 300px;
  margin: 10rem auto;
  text-align: center;
  background-color: $on-header;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);

  .form {
    @include makeFlex(column, center, center);
    gap: 10px;
    font-weight: 600;

    input {
      width: 100%;
      border-style: none;
      border: $header solid 2px;
      border-radius: 5px;
      line-height: 2rem;
    }

    .errorMessage {
      font-weight: 400;
      margin: 0;
      color: rgb(255, 58, 36);
    }

    .btnSubmit {
      margin: 15px;
    }
  }

  .btnToggleForm {
    background-color: transparent;
    border-style: none;
    color: inherit;
    opacity: 70%;
    cursor: pointer;
    font-size: 0.95rem;
    &:hover {
      opacity: 100%;
    }
  }
}
