@import "../../styles/variables";

.button {
  padding: 0.5rem 2rem;
  border-style: none;
  border-radius: 3px;
  background-color: $button;
  color: $on-button;
  font-size: 1rem;

  &:hover {
    background-color: $button + 20;
    cursor: pointer;
  }
}
