@import "../../styles/variables";

.spinner {
  width: 35px;
  height: 35px;
  border: $button solid 5px;
  border-radius: 50%;
  border-color: white transparent $button transparent;
  animation: spin infinite linear 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
