@import "../../styles/variables";

.spinner {
  width: 35px;
  height: 35px;
  border: black solid 5px;
  border-radius: 50%;
  border-color: $on-header transparent $on-header transparent;
  animation: spin infinite linear 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
