@import "../../styles/variables";

.searchBox {
  @include makeFlex(row, center, center);
  width: 100%;
  height: fit-content;

  .searchInput {
    width: 100%;
    line-height: 1.8rem;
    outline-color: $button;
    border: $button solid 2px;
    border-right: transparent;
    border-radius: 8px 0 0 8px;
  }

  .btnSearch {
    height: 100%;
    border-radius: 0 8px 8px 0;
    background-color: $button;
  }
}
